/* Normalizar*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
body{
    padding: 20vh 3%;
}
.titleContainer h1{
    text-align: center;
    margin-bottom: 7vh;
    font-size: 3rem;
}

.formRegister{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.input{
    padding: 10px 3px;
    border: none;
    border-bottom: 1px solid;
}
.submit{
    padding: 15px;
    background-color: black;
    color: white;
    border: 1px solid white

}
.submit:hover{
    transition: 1s all;
    background-color: white;
    border: 1px solid;
    color: black;
}
.textForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}
.textForm p a{
    font-weight: bolder;
    color: #161614;
}
.errorText{
    color: #D97A84;
    text-align: center;
}
